$color-primary: #ffff;
$color-secondary: #fbd784;
$section-bg: #0b1d26;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $color-primary;
	//border: 1px solid red;
}

html,
body {
	background-color: $section-bg;
}

a {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	transition: 1s all;
	&:hover {
		color: black;
		text-shadow: 0 0 10px white;
	}
}

.header {
	padding: 30px 0;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 1s all;
	// @media (max-width: 991.98px){
	// 	flex-direction: column;
	// 	align-items: center;
	// }
	.header__nav {
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-end;
		}
		a {
			text-transform: capitalize;
			margin: 0 20px;
			padding: 10px 0;
		}
	}
	.header__login {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin: 20px;
		// @media (max-width: 991.98px) {
		// 	display: none;
		// }
		transition: all 0.5s;
		user-select: none;
		&:hover {
			transform: scale(1.3);
		}
		&:hover .login {
			color: black;
			text-shadow: 1px 1px 10px white;
		}
		.login {
			transition: all 0.5s;
			margin-left: -25px;
			font-family: "Roboto", sans-serif;
		}
	}
}

.logo {
	font-size: 32px;
	line-height: 38, 4px;
	text-transform: uppercase;
	transition: 1s all;
	&:hover {
		color: black;
		text-shadow: 0 0 10px white;
	}
}

.section-header {
	background-image: url("../img/BG.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1694px;
	@media (max-width: 991.98px) {
		height: initial;
		margin-bottom: 200px;
		.title {
			font-size: 30px;
			line-height: 30px;
			text-align: center;
		}
	}
	.social-links {
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

.section-one,
.section-two,
.section-three {
	height: 720px;
	background-color: $section-bg;
	margin-bottom: 200px;
	@media (max-width: 991.98px) {
		height: initial;
	}
	.container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin: 0 auto;
		width: 1400px;
		@media (max-width: 1469.98px) {
			width: initial;
		}
		@media (max-width: 991.98px) {
			flex-direction: column;
			width: initial;
			.section__content-wrap {
				.section-number {
					float: right;
					line-height: 0;
				}
				.title {
					font-size: 30px;
					line-height: 30px;
				}
			}
		}
		.image-wrap {
			@media (max-width: 991.98px) {
				picture {
					img,
					source {
						width: 100%;
					}
				}
			}
		}
	}
}

.section-header {
	display: flex;
	justify-content: center;
	padding-top: 287px;
	.social-links {
		position: fixed;
		top: 360px;
		left: 82px;
		.text-wrap {
			position: relative;
			left: -30%;
			transform: rotate(90deg);
			margin-bottom: 30px;
		}
		.links-wrap {
			display: flex;
			flex-direction: column;
		}
	}
}

.up-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	letter-spacing: 6px;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	color: $color-secondary;
	height: 50px;
	&::before {
		content: "";
		display: block;
		background-color: $color-secondary;
		width: 72px;
		height: 2px;
		margin-right: 32px;
	}
}

.title {
	font-family: Chronicle Display;
	font-style: normal;
	font-weight: 600;
	font-size: 88px;
	line-height: 100px;
	/* or 114% */
	text-transform: capitalize;
	padding: 33px 0;
}

.desc {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	margin: 30px 0;
}

.link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.section__content-wrap {
	display: flex;
	flex-direction: column;
	max-width: 632px;
	//position: absolute;
	@media (max-width: 1468px) {
		padding: 50px;
	}
	@media (max-width: 991.98px) {
	}
	med .section-number {
		position: relative;
		top: 17%;
		left: -23%;
		font-style: normal;
		font-weight: bold;
		font-size: 240px;
		line-height: 240px;
		opacity: 0.1;
		@media (max-width: 991.98px) {
			font-size: 100px;
		}
	}
	.link {
		color: $color-secondary;
	}
}

.footer {
	padding-top: 200px;
	padding-bottom: 120px;

	.container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 1400px;
		@media (max-width: 1469.98px) {
			width: initial;
			padding: 0 50px;
		}
		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
		}
	}
	background-color: $section-bg;
	.footer__info {
		.slogan {
			font-size: 18px;
			line-height: 32px;
			margin: 24px 0 154px 0;
			width: 303px;
			@media (max-width: 991.98px) {
				width: initial;
			}
		}
		.copyright {
			font-weight: 500;
			font-size: 18px;
			line-height: 32px;
			color: #ffffff;
			opacity: 0.5;
		}
	}
	.footer__nav {
		width: 566px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 991.98px) {
			flex-direction: column;
			width: initial;
		}
		.footer__list {
			list-style: none;
			li {
				margin: 7.5px 0;
			}
			li > h5 {
				color: $color-secondary;
				margin-bottom: 24px;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
			}
		}
	}
}

.bg-header {
	background-color: rgba(51, 107, 107, 0.418);
	box-shadow: 1px 1px 10px rgb(54, 54, 54);
	transition: 1s all;
}

// Modal auth

.modal-auth {
	display: hidden;
	opacity: 0;
	transition: all 1s;
}

.modal-auth-active {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100;
	background-color: #0b1d2685;
}

.form-auth {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	padding: 30px 50px;
	border-radius: 36px 36px 0;
	background-color: rgb(122 125 133);
	box-shadow: 1px 1px 100px #ffff;
	input {
		padding: 5px 10px;
		outline: none;
		color: #0b1d26;
	}
	button {
		justify-self: self-end;
		color: white !important;
		border-radius: 10px;
		padding: 10px 30px;
		background-color: rgb(109, 161, 132);
		cursor: pointer;
	}
}

.alert-info {
	display: hidden;
	opacity: 0;
	transition: all 1s;
	position: relative;
	.alert-text {
		color: black;
	}
	#close-alert {
		left: 0;
		top: 0;
		color: #0b1d26;
		padding: 5px;
		position: absolute;
	}
}

.alert-info-active {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100;
	padding: 50px 100px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	border-radius: 0 30px;
	background-color: #f1f1f18c;
}

//Slider

// .slider {
// 	width: 950px;
// 	height: 360px;
// 	overflow: hidden;
// 	.slider__items {
// 		display: flex;
// 		width: 2850px;
// 		position: relative;
// 		left: 0px;
// 		transition: all 1s;
// 		.slider__item {
// 			width: 950px;
// 			display: flex;
// 			flex-direction: column;
// 			align-items: center;
// 			@media (max-width: 280px) {
// 				width: 280px;
// 			}
// 			@media (max-width: 320px) {
// 				width: 320px;
// 			}
// 			@media (min-width: 361px) and (max-width: 375px) {
// 				width: 375px;
// 			}
// 			@media (min-width: 376px) and (max-width: 393px) {
// 				width: 393px;
// 			}
// 			@media (min-width: 394px) and (max-width: 411px) {
// 				width: 415px;
// 			}
// 			@media (min-width: 412px) and (max-width: 414px) {
// 				width: 414px;
// 			}
// 			@media (max-width: 360px) {
// 				width: 365px;
// 			}
// 			@media (min-width: 414px) and (max-width: 540px) {
// 				width: 420px;
// 			}
// 			@media (min-width: 539px) and (max-width: 540px) {
// 				width: 540px;
// 			}
// 			@media (min-width: 541px) and (max-width: 768px) {
// 				width: 768px;
// 			}
// 			@media (max-width: 991.98px) {
// 				width: 380px;
// 				.up-title {
// 					font-size: 15px;
// 					&::before {
// 						display: none;
// 					}
// 				}
// 			}
// 			.title {
// 				text-align: center;
// 				@media (max-width: 991.98px) {
// 					font-size: 20px;
// 				}
// 			}
// 		}
// 	}

// 	.control__items {
// 		display: flex;
// 		justify-content: center;
// 		@media (max-width: 991.98px) {
// 			margin-top: 30px;
// 		}
// 		.control__item {
// 			width: 30px;
// 			height: 30px;
// 			margin: 10px;
// 			cursor: pointer;
// 			border: 1px solid rgba(255, 255, 255, 0.527);
// 			background-color: rgba(255, 255, 255, 0.527);
// 			box-shadow: 1px 1px 10px white;
// 			border-radius: 50%;
// 			transition: all 1s;
// 		}
// 		.control__item-active {
// 			background-color: rgba(27, 26, 26, 0.527);
// 			border: 1px solid rgba(27, 26, 26, 0.527);
// 			box-shadow: 1px 1px 10px black;
// 		}
// 	}
// }

//SlivedV2

.slider {
	height: 300px;
	padding: 0px 25px;
	.item {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		animation-name: fade;
		animation-duration: 3s;
	}
	.control__items {
		display: flex;
		justify-content: center;
		@media (max-width: 991.98px) {
			margin-top: 30px;
		}
		.control__item {
			width: 30px;
			height: 30px;
			margin: 10px;
			cursor: pointer;
			border: 1px solid rgba(255, 255, 255, 0.527);
			background-color: rgba(255, 255, 255, 0.527);
			box-shadow: 1px 1px 10px white;
			border-radius: 50%;
			transition: all 2s;
		}
		.control__item-active {
			background-color: rgba(27, 26, 26, 0.527);
			border: 1px solid rgba(27, 26, 26, 0.527);
			box-shadow: 1px 1px 10px black;
		}
	}
}

@keyframes fade {
	0% {
		opacity: 0.4;
		position: relative;
		top: -100%;
	}
	45% {
		opacity: 1;
		position: relative;
		top: 0%;
	}
	60% {
		opacity: 1;
		position: relative;
		top: -10%;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		position: relative;
		top: 0%;
	}
}

@media (min-width: 1023px) and (max-width: 1024px) {
	.section-three {
		.image-wrap {
			position: relative;
			left: -3%;
			img {
				width: 500px;
			}
		}
	}
}
